{% include "header.html" %}



<!-- Main Content-->

<div id="box">
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <header id="header">
					<h1 style="text-align: center">Objetivo del sitio web</h1>
					<p style="text-align: justify">Este sitio tiene como objetivo reunir en un solo lugar todos los proyectos de vivienda
                      que existen en Colombia, debido a que hay una gran variedad de proyectos que están saliendo
                      con el paso de los años y con tantas opciones es difícil saber que tantos proyectos hay en
                      la actualidad, y es tedioso estar mirando página por página los proyectos con sus características.<br />
                      Debido a eso, se creó este sitio web donde condensa toda la información primaria de cada proyecto
                      como la búsqueda de proyecto no tan conocidos y tener un panorama más completo al momento de buscar
                      un proyecto de vivienda en Colombia.<br />
                      Otro objetivo es desarrollar y entregar una API para que futuros desarrolladores no solo agreguen
                      proyectos que se pasaron por alto sino también que recopilen información para futuros proyectos u aplicaciones.
					</p>
        </header>
      </div>
    </div>
  </div>
</main>
</div>
{% include "footer.html" %}
