{% include "header.html" %}


<div id="box" class="mt-5">
  <div>
    <h2 style="text-align: center">Tus proyectos</h2>
    <div class="album py-5 bg-body-tertiary" style="opacity:0.8;">
      <div class="container" >
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" >
          {% if my_projects %}
          <!-- Projects saved by user-->
          {% for project in my_projects: %}
          <div class="col" >
            <div class="card shadow-sm" >
              <img src="{{ project.img_url }}" class="card-img-top" alt="{{project.name }}" width="250" height="250">
              <div class="card-body">
                <h5 class="card-title">{{ project.name }}</h5>
                <p class="card-text" style="text-align: justify">{{project.Description }}</p>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Ubicado en {{project.location}} - {{project.city}}</li>
                  <li class="list-group-item">Area (m2): {{project.area}}</li>
                  <li class="list-group-item">$ {{ project.price }}</li>
                </ul>
                <div  class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{{ url_for('show_project', project_id=project.id) }}"><button type="button" class="btn btn-sm btn-outline-secondary">Ver</button></a>
                    <a href="{{ url_for('delete_project_user', user_id=current_user.id, project_id=project.id) }}"><button  type="button" class="btn btn-sm btn-outline-secondary"> ❌ </button></a>
                  </div>
                  <small class="text-body-secondary">TIPO {{project.type}}</small>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {%else%}
      <h2>No hay proyectos guardados</h2>
      {% endif%}
    </div>
  </div>
</div>

{% include "footer.html" %}
