{% block content %} {%
include "header.html" %}

<div id="box" class="mt-5">
  <main class="mb-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <header id="header">
            <h1>Perfil</h1>
          </header>
          <!--information about user profile-->

          <img src="{{current_user.photo}}" alt="profile_picture" class="bd-placeholder-img rounded-circle" width="160" height="160"  role="img" aria-label="Placeholder" >

          <form class="row g-3 needs-validation" method=post enctype="multipart/form-data">
            <div class="col-md-4 position-relative">
              <label for="validationTooltip01" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="validationTooltip01" value="{{current_user.name.title()}}" name="name" required>
            </div>
            <div class="col-md-4 position-relative">
              <label for="validationTooltip02" class="form-label">Apellido</label>
              <input type="text" class="form-control" id="validationTooltip02" value="{{current_user.lastname.title()}}" name="lastname" required>
            </div>
            <div class="col-md-4 position-relative">
              <label for="validationTooltipUsername" class="form-label">Usuario</label>
              <div class="input-group has-validation">
                <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
                <input type="text" name="username" class="form-control" id="validationTooltipUsername" aria-describedby="validationTooltipUsernamePrepend"  value="{{current_user.username.title()}}" required>
              </div>
            </div>
            <div class="col-md-6 position-relative">
              <label for="validationTooltip03" class="form-label">Ciudad</label>
              <input type="text" class="form-control" id="validationTooltip03" name="city" value="{{current_user.city.title()}}" required>
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p class="flash">{{ message }}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="mb-3">
              <label for="formFile" class="form-label">Cambiar foto</label>
              <input class="form-control" type="file" id="formFile" name="image_file">
            </div>
            <div class="col-12">
              <button class="btn btn-secondary" type="submit">Realizar Cambios</button>
            </div>
          </form>
          <div class="col-12">
            <a href="{{ url_for('change_password') }}"><button type="button" class="btn btn-secondary">Cambiar contraseña</button></a>
          </div>
        </div>
  </main>
</div>
{% include "footer.html" %} {% endblock %}
