{% block content %}
{% include "header.html" %}


<div id="box" class="mt-5">
	<main class="mb-4">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<header id="header">
						<h2 >Recuperar contraseña</h2>
					</header>
					<!-- Adding Flash message here for users trying to register twice -->
					{% with messages = get_flashed_messages() %}
					{% if messages %}
					{% for message in messages %}
					<p class="flash" >{{ message }}</p>
					{% endfor %}
					{% endif %}
					{% endwith %}
					<!--Rendering the registration form here id="signup-form"-->
					<form id="signup-form_n" method="post" action="{{ url_for('user.forgot_password') }}">
						<input type="email" name="email" id="email" placeholder="Escriba un correo" size="40"/>
						<input type="submit" value="Enviar" />
					</form>
				</div>
			</div>
		</div>
	</main>
</div>

{% include "footer.html" %} {% endblock %}